<%= for tile <- all_tiles(@game) do %>
  <div id="<%= tile.id %>" class="cell row<%= tile.row %> column<%= tile.column %> tile<%= tile.value %> <%= if tile in @game.merged_tiles, do: "merged" %>"><%= tile.value %></div>
<% end %>
